@model ProjectExam.Models.Quiz

@using ProjectExam.Models

@{
    ViewBag.Title = "Publish";
}

<h2>@Model.Name</h2>

@using (Html.BeginForm())
{
    <div class="row">
        @foreach (var question in Model.Questions)
        {
            <p><strong>@question.Id</strong>. @question.Text</p>
            foreach (var choice in question.Choices)
            {
                @*<div class="radio">
                        <label><input type="radio" name="optradio">@choice.Text</label>
                    </div>*@
                @Html.RadioButton("choices", choice.Text) @choice.Text <br />
            }
        }

        <div class="col-md-12">
            <div class="pad-top">
                <button type="submit" class="btn btn-success btn-lg margin-right">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
            </div>
        </div>
    </div>

}
